.App {
    margin-top: 5%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

input, select{
    height: 30px;
    margin: 0.1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}